.component {
    display: flex;
    height: 70px;
    flex-direction: row;
    box-sizing: border-box;
    background: #ffffff;
    justify-content: space-around;
    align-items: center;
}

.button:hover {
    opacity: 0.5;
}

.button{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    font-size: 10px;
}

.component a{
    text-decoration: none;
    color: inherit;
}

.selected {
    color: #61cd98;
}
