.topBar{
    height: 50px;
    background: #E9E9E9;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.content{
}

.backButton{
    width: 30px;
    height: 30px;
    background: #829DAD;
}

.dummy{
    width: 30px;
    height: 30px;
    visibility: hidden;
}

.barTitle{
    flex: 1;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}