.component {
    display: flex;
    height: 62px;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    background: white;
    border-bottom: 1px solid #eeeeee;
}

.backButton{
    cursor: pointer;
}

.backButton:hover {
    opacity: 0.8;
}

.title {
    font-size: 16px;
    font-weight: bold;
    flex: 1;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}