.component {
    display: flex;
    height: 76px;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    padding-left: 19px;
    padding-right: 19px;
}

.button{
    margin-left: 4px;
}

.button:hover {
    opacity: 0.8;
}

.description{
    margin-left: 15px;
    font-size: 27px;
    color: #000000;
    flex: 1;
}

.workspace{
    box-sizing: border-box;
    border: 1px solid black;
    width: 60px;
    height: 60px;
}