.background {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: flex-start;
}

.component {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    background: white;
    border-radius: 0 12px 12px 0;
}

.list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    margin: 30px 15px;
    gap:12px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.workspace {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    height: 48px;
    color:#999999;
    padding: 14px 12px;
    border-radius: 6px;
}

.currentWorkspace {
    background-color: rgba(73, 177, 126, 0.12);
}

.workspace .icon{
    visibility: hidden;
}

.currentWorkspace .icon{
    visibility: visible;
}

.workspace:hover {
    opacity: 0.8;
}

.button {
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #61cd98;
    height: 48px;
    border-radius: 6px;
    gap: 5px;
    z-index: 1;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
}

.button:hover {
    opacity: 0.8;
}

.component a {
    text-decoration: none;
    color: inherit;
}

.profile {
    padding-top: 22px;
    display: flex;
    height: 90px;
    border-bottom: 1px solid #eeeeee;
    align-items: center;
    gap: 10px;
}

.name {
    flex: 1;
}

.picture {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: 15px;
}

.logout {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-right: 15px;
    gap: 5px;
    cursor: pointer;
}

.logout:hover {
    opacity: 0.8;
}

.name {
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

.name1 {
    font-size: 16px;
    font-weight: bold;
}

.name2 {
    font-size: 12px;
}

.workspaceName{
    flex: 1;
}