.component {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.help {
    font-size: 14px;
    color: #666666;
}

.green{
    color: #61cd98;
}

.error {
    font-size: 12px;
    color: #f44f44;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.input {
    font-size: 12px;
    background-color: #f8f8f8;
    border-radius: 6px;
    padding: 16px;
    color: #333333;
    border: none;
    flex: 1;
}

.input::placeholder {
    font-size: 12px;
    color: #999999;
}

.inviteButton {
    box-sizing: border-box;
    padding: 16px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    background-color: #61cd98;
    border-radius: 6px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inviteButton:hover {
    opacity: 0.8;
}

.list {
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 18px 10px;
}

.profileImage {
    border-radius: 50%;
    border: none;
}

.userInfo {
    font-size: 23px;
    gap: 14px;
    flex: 1;
    align-items: center;
}

.state {
    font-size: 23px;
}