.component {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.help {
    font-size: 14px;
    color: #666666;
}

.green{
    color: #61cd98;
}

.deleteButton {
    box-sizing: border-box;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    background-color: #61cd98;
    color: white;
    border-radius: 6px;
}

.deleteButton:hover {
    opacity: 0.8;
}