.component {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.help {
    font-size: 20px;
}

.deleteButton {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 27px;
    text-align: center;
    cursor: pointer;
}