.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    overflow: auto;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    overflow: auto;
    background-color: #f9f9f9;
    padding: 16px;
}

.content::-webkit-scrollbar{
    display: none;
}