.background{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.component {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    box-sizing: border-box;
    width: 88%;
    background: white;
    justify-content: space-between;
    border-radius: 12px;
    gap: 20px;
}

.logo{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.title {
    font-weight: bold;
    font-size: 16px;
    color: #333333;
}

.inputSection{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputGuide {
    font-size: 14px;
    color: #666666;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border:none;
    height: 44px;
    padding: 0 5px;
    font-size: 16px;
    border-radius: 6px;
}

.createButton {
    box-sizing: border-box;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 42px;
    color: white;
    background-color: #62cd98;
    border-radius: 6px;
}

.closeButton {
    box-sizing: border-box;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 42px;
    color: white;
    background-color: #c5c5c5;
    border-radius: 6px;
}

.createButton:hover {
    opacity: 0.5;
}

.closeButton:hover {
    opacity: 0.5;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.error{
    font-size: 12px;
    color: #f44f44;
}