.page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #f9f9f9;
    overflow: auto;
    flex: 1;
    flex-basis: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.section {
    background-color: white;
    padding: 40px 16px;
}
