.component{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.items{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.description {
    font-size: 14px;
    color:#666666;
    margin-bottom: 10px;
}

.input{
    font-size: 12px;
    width: 100%;
    color: #333333;
    outline: none;
    border: none;
    background-color: #f8f8f8;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 6px;
}

.input::placeholder{
    color: #999999;
}

.button{
    font-size: 14px;
    color: #ffffff;
    background-color: #61cd98;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 46px;
    gap: 5px;
}

.button:hover{
    opacity: 0.8;
}