.component {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.description {
    font-size: 14px;
    color:#666666;
}

.startTimeInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.periodTimeInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.text {
    font-size: 16px;
    color: #333333;
}