.component {
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 14px;
    color:#666666;
}

.dateInput {
    transform: scale(1.0);
    margin-bottom: -30px;
}

.timeInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.timeSuffix{
    font-size: 16px;
    color: #333333;
}