.numberPicker {
    overflow: hidden;
    width: 80px;
    text-align: center;
    position: relative;
}

.numberWrapper {
    transition: transform 0.3s ease-in-out;
}

.number {
    font-size:20px;
    padding: 10px 0;
}

.selected {
    color: #49b17e;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.number:not(.selected) {
    color: rgba(51, 51, 51, 0.4);
}