.numberPicker {
    overflow: hidden;
    width: 100px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.numberWrapper {
    transition: transform 0.3s ease-in-out;
}

.number {
    height: 50px;
    line-height: 50px;
    font-size: 2em;
}

.selected {
    font-weight: bold;
    color: #000;
}

.number:not(.selected) {
    color: #aaa;
}