.component {
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 27px;
}

.element {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 18px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    align-items: center;
}

.image {
    width: 75px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid black;
}

.name {
    font-size: 25px;
    flex: 1;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.checkbox:checked::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
}