.component {
    display: flex;
    background: white;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
    border-top: 1px solid #efefef;
    height: 200px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    flex: 1;
    text-decoration: none;
    font-size: 12px;
    gap: 5px;
    color: #333333;
}

.button:hover {
    opacity: 0.8;
}

.empty {
    flex: 1;
}

.none {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: row;
}