.page {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 30px 13px;
    gap: 30px;
    background-color: white;
}

.button {
    padding: 16px;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #61cd98;
    cursor: pointer;
    border-radius: 6px;
}

.button:hover {
    opacity: 0.8;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #f9f9f9;
}